USE [clickventa]
GO
/****** Object:  StoredProcedure [dbo].[GetAllUser]    Script Date: 05/10/2026 11:31:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[GetAllEmpleado]
	@state int,
	@page int,
	@pageSize int,
	@filter varchar(250)= null
as
	DECLARE @count int

	set @count = (select count(*) from [dbo].Empleado emp			
		where emp.estado = @state and (Nombre + Apellido + DNI like  '%' + @filter +'%'or @filter is null));	
select emp.Id,Nombre, Apellido,DNI, [Count] = @count  FROM Empleado emp
where emp.[estado] = @state and (Nombre + Apellido + DNI like  '%' + @filter +'%'or @filter is null)
	order by emp.fechaCreacion desc
	OFFSET (@page - 1) * @pageSize ROWS 
	FETCH NEXT @pageSize ROWS ONLY;
