USE [clickventa]
GO
/****** Object:  StoredProcedure [dbo].[GetCompanyById]    Script Date: 05/10/2026 13:27:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[GetEmpleadoById]
@Id UNIQUEIDENTIFIER
as	
select  emp.Id,emp.Id,Nombre, Apellido,DNI  FROM Companies emp
where emp.estado = '1' and emp.Id = @Id
