USE [clickventa]
GO
/****** Object:  StoredProcedure [dbo].[Sp_DeleteCompany]    Script Date: 05/10/2026 13:18:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Sp_DeleteEmpleado]
@Id UNIQUEIDENTIFIER
as	
	BEGIN TRY
		BEGIN TRANSACTION
			Update Usuario set estado = 2, fechaBaja = GetDate() where empleadoId =@Id
			Update Empleado set estado = 2, fechaBaja = GetDate() where Id =@Id
			COMMIT TRANSACTION;
	END TRY
	BEGIN CATCH
		-- Si hay error, deshacer cambios
		IF @@TRANCOUNT > 0
			ROLLBACK TRANSACTION;

		-- Opcional: Lanzar error para depuración   
		 SELECT 
			ERROR_NUMBER() AS ErrorNumber,
			ERROR_MESSAGE() AS Message,
			ERROR_SEVERITY() AS Severity,
			ERROR_STATE() AS State,
			ERROR_LINE() AS Line;
	END CATCH
