USE [clickventa]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetUserPermissions]    Script Date: 08/10/2026 11:28:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 1. Mostrar todos los permisos de un usuario (asignados o no)
CREATE   PROCEDURE [dbo].[sp_GetUserPermissions]
    @usuarioId UNIQUEIDENTIFIER
AS
BEGIN
    SELECT 
        m.Id,
        m.[Name],
        sm.Id as SubMenuId,
        sm.[Name] as SubMenuName,
        sm.FormAssociation,
        CASE WHEN up.usuarioId IS NOT NULL THEN 1 ELSE 0 END AS IsAssigned
    FROM Menu m
    INNER JOIN SubMenu sm ON m.Id = sm.MenuId
    LEFT JOIN UserSubmenuPermissions up ON up.SubMenuId = sm.Id AND up.usuarioId = @usuarioId
    ORDER BY m.[Order], sm.[Order];
END