USE [clickventa]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllRole]    Script Date: 06/10/2026 00:57:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_GetAllRoles]
	@state int,
	@filter varchar(250)= null,
	@page int,
	@pageSize int
as
Begin
	DECLARE @count int

	set @count = (select count(*) from [dbo].Rol			
		where [estado] = @state and ([Nombre] like  '%' + @filter +'%'or @filter is null));	

	select id,[Nombre], [Descripcion], [Count] = @count FROM Rol
	where [estado] = 1
	order by fechaCreacion desc
	OFFSET (@page - 1) * @pageSize ROWS 
	FETCH NEXT @pageSize ROWS ONLY;
End
