USE [clickventa]
GO
/****** Object:  StoredProcedure [dbo].[GetAllEmpleado]    Script Date: 09/10/2026 10:50:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Sp_GetAllProductos]
	@state int,
	@page int,
	@pageSize int,
	@filter varchar(250)= null
as
	DECLARE @count int

	set @count = (select count(*) from [dbo].producto prod			
		where prod.estado = @state and (Nombre + codigoBarra like  '%' + @filter +'%'or @filter is null));	
select prod.Id,Nombre, codigoBarra,lt.PrecioCompra, lt.precioVenta, [Count] = @count  FROM producto prod
inner join lote lt on lt.productoId = prod.Id
where prod.[estado] = @state and (Nombre + codigoBarra like  '%' + @filter +'%'or @filter is null)
	order by prod.fechaCreacion desc
	OFFSET (@page - 1) * @pageSize ROWS 
	FETCH NEXT @pageSize ROWS ONLY;
