USE [clickventa]
GO
/****** Object:  StoredProcedure [dbo].[Sp_InsertEmpleado]    Script Date: 08/10/2026 11:44:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Sp_InsertEmpleado]
@DNI varchar(20),
@Nombre VARCHAR(100),
@Apellido VARCHAR(100),
@Direccion varchar(50),
@Telefono varchar(50),
/* User Data*/
@RolId Uniqueidentifier,
@NombreUsuario varchar(50),
@Contrasena varchar(250)
as
Begin
	SET NOCOUNT ON;
    SET XACT_ABORT ON;  -- Automatically rollback on error

	BEGIN TRY
		BEGIN TRANSACTION;

			-- Generate GUIDs for the new records
			DECLARE @Id UNIQUEIDENTIFIER = NEWID();
			DECLARE @UsuarioId UNIQUEIDENTIFIER = NEWID();

			if @Nombre is null
				raiserror('El NOMBRE NO PUEDE ESTAR VACIO, POR FAVOR INGRESE DE NUEVO',16,1 )
			else if @Apellido is null
				raiserror('EL APELLIDO NO PUEDE ESTAR VACIO, POR FAVOR INGRESE DE NUEVO',16,1 )
			else if @NombreUsuario IS NULL
				raiserror('EL NOMBRE DE USUARIO NO PUEDE ESTAR VACIO, POR FAVOR INGRESE OTRO NOMBRE DE USUARIO',16,1 )
			else if exists (select nombreusuario FROM Usuario where nombreusuario=@NombreUsuario)
				raiserror('YA EXISTE UN USUARIO CON ESE NOMBRE DE USUARIO, POR FAVOR INGRESE OTRO NOMBRE DE USUARIO',16,1 )
			ELSE
				insert into Empleado(Id,DNI, nombre, apellido, direccion, telefono,estado,fechaCreacion) 
				values(@Id,@DNI, @Nombre,@Apellido, @Direccion,@Telefono,1,GetDate())				

				insert into Usuario(Id,empleadoId, rolId, nombreusuario, contrasena,estado, fechaCreacion)
				values(@UsuarioId,@Id, @RolId, @NombreUsuario, @Contrasena, 1, GetDate());

				declare @isadmin varchar(100) = (select nombre from Rol where id = @RolId and estado = 1);
				if @isadmin = 'Administrador'
					begin
						insert into UserSubmenuPermissions(subMenuId,usuarioId,estado)
						(select Id,@UsuarioId, 1 from SubMenu where estado = 1)
					end;
				else
					begin
						insert into UserSubmenuPermissions(subMenuId,usuarioId,estado)
						(select Id,@UsuarioId, 1 from SubMenu where estado = 1 and Id in (
						'CE79468F-3073-4677-965E-BAB4FE978321','5BC041AF-F9BC-4183-8CE8-DDB21E5DF832',
						'69803830-B1D7-48FF-B753-8D1B3BA8DFF4',
						'E1E92285-560F-434C-AE8F-CCEDF2333C3A'
						))
					end;
		COMMIT TRANSACTION;
	END TRY
	BEGIN CATCH
		-- Si hay error, deshacer cambios
		IF @@TRANCOUNT > 0
			ROLLBACK TRANSACTION;

		-- Capture error details
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState    INT = ERROR_STATE();

        -- Re-raise the error to the caller (C# will see it as an SqlException)
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
	END CATCH
END
