USE [clickventa]
GO
/****** Object:  StoredProcedure [dbo].[sp_Login]    Script Date: 07/10/2026 17:47:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_Login]
	@UsuarioLogin varchar(50),
	@Password varchar(50)
as		
select emp.Id,EmpleadoId,RolId, NombreUsuario FROM Usuario emp
where emp.NombreUsuario = @UsuarioLogin and contrasena = @Password;


select * from usuario
'3HhxGocas55cs8Bct+/O3Q=='
'3HhxGocas55cs8Bct+/O3Q=='