USE [clickventa]
GO
/****** Object:  StoredProcedure [dbo].[Sp_UpdateEmpleado]    Script Date: 10/10/2026 16:39:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Sp_UpdateEmpleado]
@Id UNIQUEIDENTIFIER,
@DNI varchar(20),
@Nombre VARCHAR(100),
@Apellido VARCHAR(100),
@Direccion varchar(50),
@Telefono varchar(50)
as
Begin
	SET NOCOUNT ON;
    SET XACT_ABORT ON;  -- Automatically rollback on error

	BEGIN TRY
		BEGIN TRANSACTION;
			if @Nombre is null
				raiserror('El NOMBRE NO PUEDE ESTAR VACIO, POR FAVOR INGRESE DE NUEVO',16,1 )
			else if @Apellido is null
				raiserror('EL APELLIDO NO PUEDE ESTAR VACIO, POR FAVOR INGRESE DE NUEVO',16,1 )
			ELSE
				Begin
					update Empleado set DNI = @DNI, Nombre = @Nombre ,Apellido =@Apellido, Telefono = @Telefono, direccion =@Direccion
					where Id=@Id 
				End;
		COMMIT TRANSACTION;
	END TRY
	BEGIN CATCH
		-- Si hay error, deshacer cambios
		IF @@TRANCOUNT > 0
			ROLLBACK TRANSACTION;

		-- Capture error details
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState    INT = ERROR_STATE();

        -- Re-raise the error to the caller (C# will see it as an SqlException)
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
	END CATCH
End;

